[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = '==12.0.0'
cloudinary = '==1.44.1'
UnityPy = '==1.10.18'
rich = '==14.2.0'

[dev-packages]

[requires]
python_version = "3.13"
